<tr>
    <td><%= flight.from_airport.code%></td>
    <td><%= flight.to_airport.code%></td>
    <td><%= flight.flight_date.strftime("at %I:%M %p") %></td>
    <td><%= flight.flight_duration%> hours</td>
    <td><%= button_to 'Book' , new_booking_path, method: 'get',params:{id: flight.id} ,class: 'btn btn-success' %></td>
</tr>